.uaua {
    
    width: 100px;
    height: 100;
    border: 1px solid black;
    border-radius: 10px;
}

.uaua:hover{

    cursor: pointer;
    border: 1px solid red;
}

h1{
    text-align: center;
    color: aquamarine;
}